Forms-to-CosmosDb.json
{
    "$connections": {
        "value": {
            "documentdb": {
                "connectionId": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/psugh/providers/Microsoft.Web/connections/documentdb",
                "connectionName": "documentdb",
                "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/providers/Microsoft.Web/locations/westeurope/managedApis/documentdb"
            },
            "microsoftforms_1": {
                "connectionId": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/psugh/providers/Microsoft.Web/connections/microsoftforms-6",
                "connectionName": "microsoftforms-6",
                "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/providers/Microsoft.Web/locations/westeurope/managedApis/microsoftforms"
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Append_to_body": {
                "inputs": {
                    "name": "body",
                    "value": "@addProperty(body('Get_response_details'), 'id', variables('guid'))"
                },
                "runAfter": {
                    "Get_response_details": [
                        "Succeeded"
                    ]
                },
                "type": "AppendToStringVariable"
            },
            "Create_or_update_document": {
                "inputs": {
                    "body": "@variables('body')",
                    "headers": {
                        "x-ms-documentdb-raw-partitionkey": "\"@{variables('guid')}\""
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/dbs/@{encodeURIComponent('cafeteria')}/colls/@{encodeURIComponent('orders')}/docs"
                },
                "runAfter": {
                    "Append_to_body": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "For_each": {
                "actions": {
                    "Append_to_formId": {
                        "inputs": {
                            "name": "formId",
                            "value": "@items('For_each')?['resourceData']?['formId']"
                        },
                        "runAfter": {
                            "Append_to_responseId": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToStringVariable"
                    },
                    "Append_to_responseId": {
                        "inputs": {
                            "name": "responseId",
                            "value": "@items('For_each')?['resourceData']?['responseId']"
                        },
                        "runAfter": {},
                        "type": "AppendToStringVariable"
                    }
                },
                "foreach": "@triggerBody()?['value']",
                "runAfter": {
                    "Initialize_variable_2": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_response_details": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['microsoftforms_1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/formapi/api/forms('@{encodeURIComponent(variables('formId'))}')/responses",
                    "queries": {
                        "response_id": "@variables('responseId')"
                    }
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Init_formId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "formId",
                            "type": "String"
                        }
                    ]
                },
                "runAfter": {
                    "Init_responseId": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Init_responseId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "responseId",
                            "type": "String"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "body",
                            "type": "String"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_variable_2": {
                "inputs": {
                    "variables": [
                        {
                            "name": "guid",
                            "type": "String",
                            "value": "@{guid()}"
                        }
                    ]
                },
                "runAfter": {
                    "Init_formId": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_new_response_is_submitted": {
                "inputs": {
                    "body": {
                        "eventType": "responseAdded",
                        "notificationUrl": "@{listCallbackUrl()}",
                        "source": "ms-connector"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['microsoftforms_1']['connectionId']"
                        }
                    },
                    "path": "/formapi/api/forms/@{encodeURIComponent('xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx')}/webhooks"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    }
}
